<template>
  <div class="links">
    <div v-if="uri === ''">
      <button @click="addUri('low')">Малые данные</button>
      <button @click="addUri('big')">Большие данные</button>
    </div>
    <div v-if="uri === ''">Выберите данные</div>
    <div v-if="uri !== ''"><TableTest :uri="uri" /></div>
  </div>
</template>
<script>
import TableTest from "./TableTest.vue";
export default {
  name: "links",
  data() {
    return { uri: "" };
  },
  components: {
    TableTest,
  },
  methods: {
    addUri(str) {
      if (str === "low") {
        this.uri =
          "http://www.filltext.com/?rows=32&id={number|1000}&firstName={firstName}&lastName={lastName}&email={email}&phone={phone|(xxx)xxx-xx-xx}&address={addressObject}&description={lorem|32}";
      } else {
        this.uri =
          "http://www.filltext.com/?rows=1000&id={number|1000}&firstName={firstName}&delay=3&lastName={lastName}&email={email}&phone={phone|(xxx)xxx-xx-xx}&address={addressObject}&description={lorem|32}";
      }
    },
  },
};
</script>

<style></style>
