<template>
  <div class="tableTest">
    <!--Прелоад-->
    <div class="main_loading" v-if="loading == true">
      <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
      </div>
    </div>
    <!--Прелоад-->
    <div class="main" v-if="loading == false">
      <!--Главный экран-->
      <div class="main_table">
        <!--Утилиты для работы с таблицей-->
        <div class="main_table-utilities">
          <label for="search">Поиск:</label>
          <input id="search" type="text" v-model="search" />
          <button @click="addSelectorVisibility = 'block'">Добавить</button>
        </div>
        <!--Утилиты для работы с таблицей-->
        <!--Таблица пользователей-->
        <div class="main_table-table">
          <table border="1">
            <thead>
              <tr>
                <th @click="sortUsers('id')">
                  <span>id</span>
                  <span
                    v-if="currentSort == 'asc' && currentSortColumn == 'id'"
                  >
                    <img src="../assets/ascSort.png" alt="сортировка" />
                  </span>
                  <span
                    v-else-if="
                      currentSort == 'desc' && currentSortColumn == 'id'
                    "
                  >
                    <img src="../assets/descSort.png" alt="сортировка" />
                  </span>
                  <span v-else>
                    <img src="../assets/defaultSort.png" alt="сортировка"
                  /></span>
                </th>
                <th @click="sortUsers('firstName')">
                  <span>firstName</span>
                  <span
                    v-if="
                      currentSort == 'asc' && currentSortColumn == 'firstName'
                    "
                  >
                    <img src="../assets/ascSort.png" alt="сортировка" />
                  </span>
                  <span
                    v-else-if="
                      currentSort == 'desc' && currentSortColumn == 'firstName'
                    "
                  >
                    <img src="../assets/descSort.png" alt="сортировка" />
                  </span>
                  <span v-else>
                    <img src="../assets/defaultSort.png" alt="сортировка"
                  /></span>
                </th>
                <th @click="sortUsers('lastName')">
                  <span>lastName</span>
                  <span
                    v-if="
                      currentSort == 'asc' && currentSortColumn == 'lastName'
                    "
                  >
                    <img src="../assets/ascSort.png" alt="сортировка" />
                  </span>
                  <span
                    v-else-if="
                      currentSort == 'desc' && currentSortColumn == 'lastName'
                    "
                  >
                    <img src="../assets/descSort.png" alt="сортировка" />
                  </span>
                  <span v-else>
                    <img src="../assets/defaultSort.png" alt="сортировка"
                  /></span>
                </th>
                <th @click="sortUsers('email')">
                  <span>email</span>
                  <span
                    v-if="currentSort == 'asc' && currentSortColumn == 'email'"
                  >
                    <img src="../assets/ascSort.png" alt="сортировка" />
                  </span>
                  <span
                    v-else-if="
                      currentSort == 'desc' && currentSortColumn == 'email'
                    "
                  >
                    <img src="../assets/descSort.png" alt="сортировка" />
                  </span>
                  <span v-else>
                    <img src="../assets/defaultSort.png" alt="сортировка"
                  /></span>
                </th>
                <th @click="sortUsers('phone')">
                  <span>phone</span>
                  <span
                    v-if="currentSort == 'asc' && currentSortColumn == 'phone'"
                  >
                    <img src="../assets/ascSort.png" alt="сортировка" />
                  </span>
                  <span
                    v-else-if="
                      currentSort == 'desc' && currentSortColumn == 'phone'
                    "
                  >
                    <img src="../assets/descSort.png" alt="сортировка" />
                  </span>
                  <span v-else>
                    <img src="../assets/defaultSort.png" alt="сортировка"
                  /></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="user in filteredUsers"
                :key="user._id"
                @click="addUserToFavorites(user)"
              >
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Таблица пользователей-->
        <!--Пагинация-->
        <div class="main_table-pagination">
          <span
            v-for="page in pagination.pages"
            :key="page._id"
            @click="setPage(page)"
            :style="{
              fontWeight: page === pagination.currentPage ? 'bold' : 'normal',
            }"
          >
            {{ page }}
          </span>
          Показывает от {{ pagination.startIndex }} до
          {{ pagination.endIndex + 1 }}
        </div>
        <!--Пагинация-->
        <!--Таблица выбранных строк-->
        <div class="main_table-details">
          <h4>Подробнее</h4>
          <div class="rowOfDetailsCard">
            <div
              class="detailCard"
              v-for="(user, index) in selectedUsers"
              :key="user._id"
            >
              <span
                class="detailCardDeleteUser"
                @click="selectedUsers.splice(index, 1)"
              >
                &#215;
              </span>
              Выбран пользователь
              <b>{{ `${user.firstName} ${user.lastName}` }}</b> <br />
              Описание: <br />
              <textarea v-model="user.description"> </textarea> <br />
              Адрес проживания: <b>{{ user.address.streetAddress }}</b>
              <br />Город: <b>{{ user.address.city }}</b> <br />
              Провинция/штат: <b>{{ user.address.state }}</b> <br />
              Индекс:
              <b>{{ user.address.zip }}</b>
            </div>
          </div>
        </div>
        <!--Таблица выбранных строк-->
      </div>
      <!--Главный экран-->
    </div>
    <!--Модальное окно добавления пользователя-->
    <div
      class="addUserModal"
      :class="{
        addUserInn: 'block' === addSelectorVisibility,
        addUserOut: 'none' === addSelectorVisibility,
      }"
      :style="{ display: addSelectorVisibility }"
    >
      <span @click="addSelectorVisibility = 'none'"> &#215; </span>
      <form class="addUserForm">
        <div>
          <label for="id"> Id: </label>
          <input
            type="number"
            v-model="newUser.id"
            required
            placeholder="Введите ID пользователя."
          />
        </div>
        <div>
          <label for="firstName">firstName: </label>
          <input
            type="text"
            v-model="newUser.firstName"
            required
            placeholder="Введите имя пользователя!"
            @keypress="onlyLetters($event)"
          />
        </div>
        <div>
          <label for="lastName"> lastName: </label>
          <input
            type="text"
            v-model="newUser.lastName"
            required
            placeholder="Введите фамилию пользователя!"
            @keypress="onlyLetters($event)"
          />
        </div>
        <div>
          <label for="email"> email: </label>
          <input
            type="email"
            v-model="newUser.email"
            required
            placeholder="Введите E-mail пользователя!"
          />
        </div>
        <div>
          <label for="phone"> phone: </label>
          <input
            type="tel"
            v-model="newUser.phone"
            required
            autocomplete="tel"
            v-phone
            placeholder="Введите телефон пользователя!"
            pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}"
          />
        </div>
        <div>
          <button type="button" @click.prevent="addNewUser(newUser)">
            Добавить
          </button>
        </div>
      </form>
    </div>
    <!--Модальное окно добавления пользователя-->
  </div>
</template>

<script>
export default {
  name: "tableTest",
  data() {
    return {
      search: "",
      currentSort: "asc",
      currentSortColumn: "",
      showPerPage: 50,
      pagination: {},
      loading: false,
      selectedUsers: [],
      addSelectorVisibility: "none",
      users: [],
      newUser: {
        id: null,
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
      },
    };
  },
  props: ["uri"],
  directives: {
    phone: {
      bind: function (el) {
        el.oninput = function (e) {
          if (!e.isTrusted) {
            return;
          }
          const x = this.value
            .replace(/\D/g, "")
            .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
          this.value = !x[2]
            ? x[1]
            : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
          el.dispatchEvent(new Event("input"));
        };
      },
    },
  },
  computed: {
    paginateUsers: function () {
      return this.paginate(this.users);
    },
    filteredUsers: function () {
      let searchReq = this.search.toLowerCase();
      return this.paginateUsers.filter(function (user) {
        let id = user.id.toString(),
          firstName = user.firstName.toLowerCase(),
          secondName = user.firstName.toLowerCase(),
          email = user.email.toLowerCase();
        return (
          id.includes(searchReq) ||
          firstName.includes(searchReq) ||
          secondName.includes(searchReq) ||
          email.includes(searchReq) ||
          user.phone.includes(searchReq)
        );
      });
    },
  },
  methods: {
    onlyLetters(e) {
      let char = String.fromCharCode(e.keyCode);
      if (/^[A-Za-z]+$/.test(char)) return true;
      else if (/^[А-Яа-я]+$/.test(char)) return true;
      else e.preventDefault();
    },
    addNewUser(user) {
      if (
        user.firstName.length === 0 ||
        user.lastName.length === 0 ||
        user.email.length === 0 ||
        user.phone.length === 0
      ) {
        alert("Заполните все поля!");
      } else if (user.firstName.length > 35) {
        alert("Имя не может превышать 35 символов");
      } else if (user.lastName.length > 35) {
        alert("Фамилия не может превышать 35 символов");
      } else if (!user.email.includes("@")) {
        alert("E-mail заполнен не верно");
      } else if (user.phone.length < 14) {
        alert("Номер телефона введен не верно");
      } else {
        this.users.unshift(user);
        this.addSelectorVisibility = "none";
        alert("Успешно!");
      }
    },
    addUserToFavorites(user) {
      if (!this.selectedUsers.includes(user)) {
        this.selectedUsers.push(user);
      } else {
        alert("Пользователь уже добавлен!");
      }
    },
    setPage(indexOfPage) {
      this.pagination = this.paginator(this.users.length, indexOfPage);
    },
    paginate(data) {
      return data.slice(
        this.pagination.startIndex,
        this.pagination.endIndex + 1
      );
    },
    paginator(totalItems, currentPage) {
      let startIndex = (currentPage - 1) * this.showPerPage,
        endIndex = Math.min(startIndex + this.showPerPage - 1, totalItems - 1),
        pages = this.range(Math.ceil(totalItems / this.showPerPage));

      return {
        currentPage: currentPage,
        startIndex: startIndex,
        endIndex: endIndex,
        pages: pages,
      };
    },
    range(size, startAt = 1) {
      return [...Array(size).keys()].map((i) => i + startAt);
    },
    async getUsersData() {
      console.log(this.uri);
      let responce = await fetch(this.uri);
      console.log(responce);
      if (responce.status == 200) {
        let data = await responce.json();
        return data;
      } else {
        alert("Произошла ошибка при загрузке данных с сервера!");
        let data = [];
        return data;
      }
    },

    sortUsers(columnName) {
      this.currentSort = this.currentSort === "asc" ? "desc" : "asc";
      this.currentSortColumn = columnName;
      if (this.currentSort === "asc") {
        this.filteredUsers.sort((a, b) => {
          if (a[columnName] < b[columnName]) {
            return 1;
          } else if (a[columnName] > b[columnName]) {
            return -1;
          } else {
            return 0;
          }
        });
      } else if (this.currentSort == "desc") {
        this.filteredUsers.sort((a, b) => {
          if (a[columnName] > b[columnName]) {
            return 1;
          } else if (a[columnName] < b[columnName]) {
            return -1;
          } else {
            return 0;
          }
        });
      }
    },
  },
  async created() {
    this.loading = true;
    this.users = await this.getUsersData();
    this.setPage(1);
    this.loading = false;
  },
};
</script>

<style scoped lang="scss">
@mixin closeButtonStyles() {
  color: red;
  font-size: 22px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
@mixin tableHeadStyles() {
  cursor: pointer;
  background: rgb(99, 99, 99);
  color: #ccc;
  position: sticky;
  top: 0px;
}
@mixin tableImgStyles() {
  max-width: 12px;
  padding-left: 5px;
  height: auto;
}
.tableTest {
  width: 100vw;
  height: 98vh;
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &_loading {
      width: 100%;
      height: 100%;
    }
    &_table {
      display: flex;
      flex: 5;
      flex-direction: column;

      &-table {
        height: 500px;
        margin-bottom: 10px;
        overflow-y: auto;
        table {
          width: 100%;
          thead th {
            @include tableHeadStyles();
            img {
              @include tableImgStyles();
            }
          }
          tbody tr {
            cursor: pointer;
          }
        }
      }
      &-pagination {
        flex: 1;
        cursor: pointer;
      }
      &-details {
        flex: 2;
        h4 {
          width: 100%;
          text-align: center;
          margin: 5px 0;
        }
        .rowOfDetailsCard {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          overflow-x: auto;
          .detailCard {
            border: 1px solid #ccc;
            border-radius: 10px;
            margin: 0 10px;
            min-width: 300px;
            padding: 5px;

            p {
              margin: 6px;
            }
            .detailCardDeleteUser {
              @include closeButtonStyles();
            }
          }
        }
      }
    }
  }
}

.addUserModal {
  position: fixed;
  height: 100vh;
  width: 400px;
  display: none;
  background: #fff;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 100;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-name: addIn;
  span {
    @include closeButtonStyles();
  }
  form {
    display: flex;
    flex-direction: column;
    div {
      margin-bottom: 10px;

      label {
        width: 100px;
        display: inline-block;
      }
      input {
        width: 200px;
      }
      button {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
#fountainG {
  position: relative;
  width: 234px;
  height: 28px;
  top: 50%;
  margin-top: -14px;
  left: 50%;
  margin-left: -117px;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
  width: 28px;
  height: 28px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 19px;
  -o-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

#fountainG_2 {
  left: 29px;
  animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
}

#fountainG_3 {
  left: 58px;
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

#fountainG_4 {
  left: 88px;
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s;
}

#fountainG_5 {
  left: 117px;
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
}

#fountainG_6 {
  left: 146px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
}

#fountainG_7 {
  left: 175px;
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}

#fountainG_8 {
  left: 205px;
  animation-delay: 1.64s;
  -o-animation-delay: 1.64s;
  -ms-animation-delay: 1.64s;
  -webkit-animation-delay: 1.64s;
  -moz-animation-delay: 1.64s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -o-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -ms-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(0, 0, 0);
  }

  100% {
    -moz-transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}
@keyframes addIn {
  from {
    width: 0;
  }

  to {
    width: 400px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
