<template>
  <div id="app">
    <MainWindow />
  </div>
</template>

<script>
import MainWindow from "./components/MainWindow.vue";

export default {
  name: "app",
  components: {
    MainWindow,
  },
};
</script>
